
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}
.title {
  color: green;
  text-align: center;
  margin-top: 20px;
}
nav {
  background-color: #e0e0e0;
  padding: 10px;
  text-align: center;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  display: inline-block;
  margin-right: 20px;
}

.nav-list a {
  color: blue;            
  text-decoration: underline;
  font-weight: bold;
  font-size: 16px;
}
.main-img {
  display: block;
  margin: 20px auto;
  width: 400px;
  border: 3px solid green;
  border-radius: 10px;
}
.image-row {
  display: flex;
  gap: 15px;          
}

.main-img {
  width: 33%;         
  height: auto;
  border-radius: 8px;  
}

section {
  width: 80%;
  margin: 0 auto 30px auto;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #ccc;
}

section h2 {
  color: darkgreen;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  padding: 10px;
  background-color: #d0f0c0;
}
.highlight {
  color: darkred;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.card {
  background-color: #f0fff0;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.subtitle {
  text-align: center;       
  font-size: 18px;           
  color: darkgreen;          
  font-style: italic;       
  margin-top: 10px;          
  margin-bottom: 30px;       
}
h2 {
    color: darkgreen;
}
p {
    line-height: 1.5;
}

