body {
  font-family: Verdana;
}

.title {
  color: darkblue;
}

.img {
  width: 300px;
  border: 2px solid black;
}

ol li {
  margin-bottom: 8px;
}

iframe {
  margin-top: 15px;
}
body {
    margin: 10px; 
}