body {
  background-color: #fff8f0;
}

.title {
  color: brown;
}

.img {
  width: 250px;
  border-radius: 10px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  background-color: lightgray;
}